.small-card-container{
    width: 700px;
    height: 210px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
    margin-bottom: 20px;

}

.card-img > img{
    min-width:300px;
    width: 100%;
    height: 100%;
}

.card-title > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}