<app-menu-title></app-menu-title>>
<div class="container-articles">
    <div class="articles-main">
        <app-big-card id="1"
            photoCover="https://th.bing.com/th/id/OIP.ApNwZoIW6JeFLgk22ZVNGQHaDm?w=349&h=170&c=7&r=0&o=5&pid=1.7"
            cardTitle="Visão de Campeão: MONITORES GAMER em OFERTA na PICHAU!" cardSubtitle="om taxas de atualização de até 240Hz, tempo de resposta ultra rápido e tecnologia de redução de flicker, os monitores'+ 
        'da PICHAU garantem a melhor experiência para suas jogadas. Seja para jogos de alta performance ou para streamings, tenha'+
        'a qualidade de imagem que você merece para ser o verdadeiro campeão!"></app-big-card>
    </div>
    <div class="articles-others">
        <app-small-card 
            id="2"
            photoCover="https://th.bing.com/th/id/OIP.lbt42W8jzYlY1GtzAEl_mgHaHa?w=196&h=188&c=7&r=0&o=5&pid=1.7"
            title="Lançamento da NVIDIA fatura mais de R$6 bilhões nos primeiros meses."></app-small-card>
        <app-small-card 
            id="3"
            photoCover="https://th.bing.com/th/id/OIP.w4en38j-YbpRzjHnOLPpuQHaGk?w=200&h=200&c=10&o=6&pid=Nintendo+Switch+Oled+%26+Legend+Of+Zelda%3a+Skyward+Sword+Hd+Bundle&rm=2"
            title="A Nintendo Switch está oferecendo grandes descontos em jogos na eShop, com ofertas de até 91%."></app-small-card>
        <app-small-card 
            id="4"
            photoCover="https://th.bing.com/th/id/OIP.9kW3jlGhkstOnKpKrGwIdQHaFj?w=226&h=180&c=7&r=0&o=5&pid=1.7"
            title="A Sony lançou um brinde em comemoração aos 20 anos de God of War, disponível por tempo limitado."></app-small-card>

    </div>
</div>